# 環境変数の中身はdummyです。
# 実際の値は.envに記載してください。

# 学生ポータルのURL
STUDENT_PORTAL_URL=https://example.com

# 学生ポータルのPHPSESSID（application/session）
STUDENT_PORTAL_PHPSESSID=example_session_id

# 学生ポータルのログイン情報
STUDENT_PORTAL_USER_ID=your_student_id
STUDENT_PORTAL_PASSWORD=your_password
